<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMI Calculator</title>
</head>

<div class="center">
    <h1>BMI Calculator</h1>

    <body>
        Hi, welcome to the BMI calculator. To get started, <br>
        enter your height (in inches) and weight (in pounds) <br>
        into the respective boxes, then hit "Calculate!" <br>
        <br>
    </body>
    
    <form action="result">
        <input type="number" name="number1" placeholder="Enter your height:"> <body>inches</body>
        <br>
        <br> 
        <input type="number" name="number2" placeholder="Enter your weight:"> <body>pounds</body>
        <br>
        <br>
        <button type="submit" name="Calculate">Calculate</button>
    
    </form>
    </div>
    
    <style>
      .center {
        margin: auto;
        width: 60%;
        border: 3px solid #a5addb;
        padding: 10px;
      }
    </style>